<div class="form-data">
    <form action="/courses/create" method="POST">
        <label for = "txtTitle">
            Title
        </label>
        <input type="text" name = "title" id = "txtTitle" autofocus required>
        <label for = "txtDesc">
            Description
        </label>
        <input type="text" name = "desc" id = "txtDesc" autofocus required>
        <button type="submit">Create</button>
    </form>
</div>