<div class="container">
    <div class="col-sm-6">
        <img src="images/people.jpg">
    </div>
    <div class="col-sm-6">  
        <h1>
            Oops, something went wrong!
        </h1>
        <p>
            Error, Not Found
        </p>
    </div>
    </div>